[darkslide]
source = ../markdown
         ../restructuredtext
         ../textile
         ../multiple-files
         ../other-features
# use a custom CSS file that embeds an additional font
css = examples/user_css/style.css
# make sure the CSS file and the font are both embedded in the final HTML file
embed = True
